html, body {
  min-width: 320px;
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #eef1f5;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #333;
}